spring:
  flyway:
    enabled: false
  application:
    name: issue_tracker

  datasource:
    url: jdbc:postgresql://localhost:5432/issue_tracker_dev
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # DEV ONLY. Must be validate in prod.
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    time-zone: Asia/Kolkata

server:
  port: 8080

app:
  jwt-secret: dGhpc2lzYXZlcnlzZWNyZXRrZXl0aGF0aXNsb25nZW5vdWdoZm9ySFMyNTZhbGdvcml0aG1hbmRpdHNob3VsZGJla2VwdHNlY3VyZQ==
  jwt-expiration: 86400000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html